.chat {
    box-shadow: 0 0 3px 1px #1E1E20;
    color: #1E1E20;
    border-radius: 10px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    border: 1px solid #99BEFF;
    background: #99BEFF;
    padding: 3px;
}

.chat h2 {
    line-height: 40px;
    text-align: center;
    width: 100px;
    margin: auto;
}

.chat input#main:checked ~ .mesages, .chat input#main:checked ~ .control {
    display: none;
}

.chat .mesages {
    height: 300px;
    overflow-x: auto;
}

.chat .mesages .mesage {
    width: 515px;
    padding: 1px 10px;
    background: #66C1FF;
}

.chat .mesages .mesage .nick {
    color: #374140;
    font-style: italic;
}

.chat .mesages .mesage:nth-child(2n+1) {
    background: #fff;
}

.chat .control {
    padding-top: 5px;
}

.chat .control input {
    color: #1E1E20;
    height: 30px;
    border: 0;
    background: #fff;
}

.chat .control input.text {
    padding-left: 10px;
    width: 453px;
    box-sizing: border-box;
    border-bottom-left-radius: 7px;
}

.chat .control input.submit {
    padding: 0;
    width: 80px;
    border-bottom-right-radius: 7px;
}

.chat .control input.submit:hover {
    color: #fff;
    transition: .5s;
    background: #99BEFF;
}
